<form (ngSubmit)="onSubmit()">
  <label>Image URL</label>
  <input [(ngModel)]="imageURL" name="imageURL" type="text" placeholder="Insert Image URL Here">

  <label>Review Prompt Text</label>
  <textarea [(ngModel)]="promptText" name="promptText" type="text" placeholder="Insert Review Prompt Text Here"></textarea>

  <label>User Responses</label>
  <input [(ngModel)]="userResponse" name="userResponse" type="text" placeholder="Possible User Response Here">

  <button type="submit"></button>
</form>
