<h1>Create Your Survey Template</h1>

<h1>Current Questions In Survey</h1>

<h3>Opening Survey Text</h3>
<textarea [(ngModel)]="openingText" style="width:500px; resize: none;"
          placeholder="e.g. Thanks for agreeing to participate in this Survey"></textarea>

<div *ngFor="let question of questions">
  <p>Question: {{ question.question }}</p>
  <p *ngFor="let answer of question.answers">
    Answer: {{ answer }}
  </p>
</div>

<form (ngSubmit)="addQuestion()" style="display: flex; flex-direction: column">

  <label>New Question</label>
  <textarea class="text-box" [(ngModel)]="currQuestion" name="currQuestion" type="text"></textarea>

  <label>Possible Answers</label>
  <div *ngFor="let response of suggestedResponses; let i = index">
    <input [(ngModel)]="suggestedResponses[i]" name="suggestedResponse{{i}}" type="text">
    <button class="submit-button" type="button" (click)="removeUserResponse(i)">Remove</button>
  </div>
  <input [(ngModel)]="newResponse" name="newResponse" type="text" placeholder="Insert a new response">
  <button type="button" (click)="addUserResponse()">Add Response</button>

  <button class="submit-button" type="submit">Submit</button>
</form>

<br>

<h3>Closing Survey Text</h3>
<textarea [(ngModel)]="closingText" style="width:500px; resize: none;"
          placeholder="e.g. Thank you for finishing the survey, you have been awarded 50 points"></textarea>


<button (click)="saveTemplate()">Save Template</button>
